.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .auth-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .auth-box button {
    width: 100%;
  }
  
  .auth-box span {
    color: blue;
    cursor: pointer;
  }
  